@model IEnumerable<LanguageModel>;


<div class="container">
    <h1>@ViewData[PageInfo.Title]</h1>

    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-action="DownloadLanguage" asp-route-langid="@(item?.LanguageId)" asp-route-langName="@(item?.Name)">
                    @item?.Name (@item?.TranslationProgress%)
                </a>
            </li>
        }
    </ul>
</div>