<h2 id="donation">Buy me a beer!</h2>

<div>
  <p>
    ImageGlass stands as an open-source, ad-free photo viewer, yet its development
    and upkeep demand resources. Your financial backing not only sustains
    this project but also fuels my motivation for crafting future releases.
  </p>

  <p>
    Should you opt for
    <a href="https://github.com/sponsors/d2phap" target="_blank" rel="noopener noreferrer">GitHub Sponsor</a> or
    <a href="https://patreon.com/d2phap" target="_blank" rel="noopener noreferrer">Patreon</a>,
    be sure to explore the tier-specific benefits on offer.
    <br />
    Your support is greatly appreciated!
  </p>

  <div class="donation-actions d-flex align-items-center flex-wrap mt-4 gap-2">
    <a class="btn btn-accent" href="https://github.com/sponsors/d2phap" target="_blank" rel="noopener noreferrer">
      <svg width="16" height="16" viewBox="0 0 98 96" fill="currentColor">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" />
      </svg>
      <span class="ms-1">GitHub Sponsor</span>
    </a>


    <a class="btn" href="https://patreon.com/d2phap" target="_blank" rel="noopener noreferrer">
      <svg width="16" height="16" viewBox="0 0 436 476" fill="currentColor">
        <path d="M436 143c-.084-60.778-47.57-110.591-103.285-128.565C263.528-7.884 172.279-4.649 106.214 26.424 26.142 64.089.988 146.596.051 228.883c-.77 67.653 6.004 245.841 106.83 247.11 74.917.948 86.072-95.279 120.737-141.623 24.662-32.972 56.417-42.285 95.507-51.929C390.309 265.865 436.097 213.011 436 143Z"></path>
      </svg>
      <span class="ms-1">Patreon</span>
    </a>


    <a class="btn" href="https://www.paypal.me/d2phap" target="_blank" rel="noopener noreferrer">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
        <path d="M22 9.761c0 .536-.065 1.084-.169 1.627-.847 4.419-3.746 5.946-7.449 5.946h-.572c-.453 0-.838.334-.908.789l-.803 5.09c-.071.453-.456.787-.908.787h-2.736c-.39 0-.688-.348-.628-.732l1.386-8.88.062-.056h2.155c5.235 0 8.509-2.618 9.473-7.568.812.814 1.097 1.876 1.097 2.997zm-14.216 4.252c.116-.826.459-1.177 1.385-1.179l2.26-.002c4.574 0 7.198-2.09 8.023-6.39.8-4.134-2.102-6.442-6.031-6.442h-7.344c-.517 0-.958.382-1.038.901-2.304 14.835-2.97 18.607-3.038 19.758-.021.362.269.672.635.672h3.989l1.159-7.318z"/>
      </svg>
      <span class="ms-1">PayPal</span>
    </a>


    <script type="text/javascript" defer="" src="https://donorbox.org/install-popup-button.js"></script>
    <a class="btn dbox-donation-button"
      href="https://donorbox.org/imageglass?default_interval=o&hide_donation_meter=true" rel="noopener noreferrer">
      <svg width="16" height="16" viewBox="0 0 15 15">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.14533 9.88267C10.0887 9.07023 10.5658 8.2903 10.5658 7.55369C10.5798 7.35757 10.5536 7.16065 10.4889 6.97496C10.4242 6.78928 10.3222 6.61873 10.1893 6.47375C10.0563 6.32876 9.89518 6.21239 9.71569 6.13173C9.53619 6.05108 9.34212 6.00784 9.14533 6.00465C8.85338 5.98334 8.56073 6.03548 8.29415 6.15631C8.1455 6.22419 8.01117 6.31978 7.89838 6.43795L7.53514 6.80625L7.17732 6.43795C7.06286 6.32314 6.92884 6.2296 6.78155 6.16172C6.51471 6.0414 6.22264 5.9875 5.93038 6.00465C5.73264 6.00552 5.53722 6.04716 5.35634 6.12696C5.17546 6.20675 5.01301 6.32299 4.87917 6.4684C4.74532 6.61381 4.64297 6.78525 4.5785 6.972C4.51403 7.15874 4.48885 7.35677 4.50452 7.55369C4.50452 8.2903 4.98161 9.07023 5.92495 9.88267C6.42783 10.2994 6.97295 10.6624 7.55141 10.9659C8.11857 10.6605 8.6527 10.2975 9.14533 9.88267Z" fill="currentColor"/>
        <path d="M7.5 3.5V1H1V14H14V1H11" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <span class="ms-1">Wire transfer</span>
    </a>
  </div>
</div>
