<h2 id="donation">Buy me a beer!</h2>

<div>
  <p>
    ImageGlass stands as an open-source, ad-free photo viewer, yet its development
    and upkeep demand resources. Your financial backing not only sustains
    this project but also fuels my motivation for crafting future releases.
  </p>

  <p>
    Should you opt for
    <a href="https://github.com/sponsors/d2phap" target="_blank" rel="noopener noreferrer">GitHub Sponsor</a> or
    <a href="https://patreon.com/d2phap" target="_blank" rel="noopener noreferrer">Patreon</a>,
    be sure to explore the tier-specific benefits on offer.
    <br />
    Your support is greatly appreciated!
  </p>

  <div class="d-flex align-items-center flex-wrap mt-4 gap-2">
    <a class="btn btn-accent" href="https://github.com/sponsors/d2phap" target="_blank" rel="noopener noreferrer">
      ✨GitHub Sponsor
    </a>

    <a class="btn" href="https://patreon.com/d2phap" target="_blank" rel="noopener noreferrer">
      Patreon
    </a>

    <a class="btn" href="https://www.paypal.me/d2phap" target="_blank" rel="noopener noreferrer">
      PayPal
    </a>

    <script type="text/javascript" defer="" src="https://donorbox.org/install-popup-button.js"></script>
    <a class="btn dbox-donation-button"
      href="https://donorbox.org/imageglass?default_interval=o&hide_donation_meter=true" rel="noopener noreferrer">
      Wire transfer
    </a>
  </div>
</div>
