<h2 id="donation">Support ImageGlass</h2>

<div>
  <p>
    ImageGlass stands as an open-source, ad-free photo viewer, yet its development
    and upkeep demand resources. Your financial backing not only sustains
    this project but also fuels my motivation for crafting future releases.
  </p>

  <p>
    Should you opt for
    <a href="https://github.com/sponsors/d2phap" target="_blank" rel="noopener noreferrer">GitHub Sponsor</a> or
    <a href="https://patreon.com/d2phap" target="_blank" rel="noopener noreferrer">Patreon</a>,
    be sure to explore the tier-specific benefits on offer.
    <br />
    Your support is greatly appreciated!
  </p>

  <div class="donation-actions d-flex align-items-center flex-wrap mt-4 gap-2">
    <a class="btn btn-accent" href="https://github.com/sponsors/d2phap" target="_blank" rel="noopener noreferrer">
      <svg width="16" height="16" viewBox="0 0 98 96" fill="currentColor">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" />
      </svg>
      <span class="ms-1">GitHub Sponsor</span>
    </a>


    <a class="btn" href="https://donate.stripe.com/6oE15Kab3740du828a" target="_blank" rel="noopener noreferrer">
      <svg width="38.4" height="16" viewBox="0 0 360 150" style="margin-top: 0.15rem;">
        <g clip-path="url(#clip0_854_1317)">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M360 77.4C360 51.8 347.6 31.6 323.9 31.6C300.1 31.6 285.7 51.8 285.7 77.2C285.7 107.3 302.7 122.5 327.1 122.5C339 122.5 348 119.8 354.8 116V96C348 99.4 340.2 101.5 330.3 101.5C320.6 101.5 312 98.1 310.9 86.3H359.8C359.8 85 360 79.8 360 77.4ZM310.6 67.9C310.6 56.6 317.5 51.9 323.8 51.9C329.9 51.9 336.4 56.6 336.4 67.9H310.6Z"
            fill="currentColor" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M247.1 31.6C237.3 31.6 231 36.2 227.5 39.4L226.2 33.2H204.2V149.8L229.2 144.5L229.3 116.2C232.9 118.8 238.2 122.5 247 122.5C264.9 122.5 281.2 108.1 281.2 76.4C281.1 47.4 264.6 31.6 247.1 31.6ZM241.1 100.5C235.2 100.5 231.7 98.4 229.3 95.8L229.2 58.7C231.8 55.8 235.4 53.8 241.1 53.8C250.2 53.8 256.5 64 256.5 77.1C256.5 90.5 250.3 100.5 241.1 100.5Z"
            fill="currentColor" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M169.8 25.7L194.9 20.3V0L169.8 5.3V25.7Z" fill="currentColor" />
          <path d="M194.9 33.3H169.8V120.8H194.9V33.3Z" fill="currentColor" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M142.9 40.7L141.3 33.3H119.7V120.8H144.7V61.5C150.6 53.8 160.6 55.2 163.7 56.3V33.3C160.5 32.1 148.8 29.9 142.9 40.7Z"
            fill="currentColor" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M92.9 11.6L68.5 16.8L68.4 96.9C68.4 111.7 79.5 122.6 94.3 122.6C102.5 122.6 108.5 121.1 111.8 119.3V99C108.6 100.3 92.8 104.9 92.8 90.1V54.6H111.8V33.3H92.8L92.9 11.6Z"
            fill="currentColor" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M25.3 58.7C25.3 54.8 28.5 53.3 33.8 53.3C41.4 53.3 51 55.6 58.6 59.7V36.2C50.3 32.9 42.1 31.6 33.8 31.6C13.5 31.6 0 42.2 0 59.9C0 87.5 38 83.1 38 95C38 99.6 34 101.1 28.4 101.1C20.1 101.1 9.5 97.7 1.1 93.1V116.9C10.4 120.9 19.8 122.6 28.4 122.6C49.2 122.6 63.5 112.3 63.5 94.4C63.4 64.6 25.3 69.9 25.3 58.7Z"
            fill="currentColor" />
        </g>
        <defs>
          <clipPath id="clip0_854_1317">
            <rect width="360" height="149.8" fill="white" />
          </clipPath>
        </defs>
      </svg>

      <span class="ms-1">Donation</span>
    </a>


    <a class="btn" href="https://patreon.com/d2phap" target="_blank" rel="noopener noreferrer">
      <svg width="16" height="16" viewBox="0 0 436 476" fill="currentColor">
        <path
          d="M436 143c-.084-60.778-47.57-110.591-103.285-128.565C263.528-7.884 172.279-4.649 106.214 26.424 26.142 64.089.988 146.596.051 228.883c-.77 67.653 6.004 245.841 106.83 247.11 74.917.948 86.072-95.279 120.737-141.623 24.662-32.972 56.417-42.285 95.507-51.929C390.309 265.865 436.097 213.011 436 143Z">
        </path>
      </svg>
      <span class="ms-1">Patreon</span>
    </a>


    <a class="btn" href="https://www.paypal.me/d2phap" target="_blank" rel="noopener noreferrer">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
        <path
          d="M22 9.761c0 .536-.065 1.084-.169 1.627-.847 4.419-3.746 5.946-7.449 5.946h-.572c-.453 0-.838.334-.908.789l-.803 5.09c-.071.453-.456.787-.908.787h-2.736c-.39 0-.688-.348-.628-.732l1.386-8.88.062-.056h2.155c5.235 0 8.509-2.618 9.473-7.568.812.814 1.097 1.876 1.097 2.997zm-14.216 4.252c.116-.826.459-1.177 1.385-1.179l2.26-.002c4.574 0 7.198-2.09 8.023-6.39.8-4.134-2.102-6.442-6.031-6.442h-7.344c-.517 0-.958.382-1.038.901-2.304 14.835-2.97 18.607-3.038 19.758-.021.362.269.672.635.672h3.989l1.159-7.318z" />
      </svg>
      <span class="ms-1">PayPal</span>
    </a>

  </div>
</div>
