<h2>Our sponsors</h2>

<div class="section-sponsor-description">
  <span class="opacity-65">
    Through contributions, donations, and sponsorship, you make ImageGlass thrive!
  </span>
  <br />
  <a href="mailto:phap@imageglass.org?subject=Become%20ImageGlass%20Sponsor&body=Hi%20Phap%2C%0D%0A%0D%0A%0D%0A">
    Become a sponsor
  </a>
</div>


<div class="sponsor-list">
  @*<a class="sponsor-card" href="https://www.isonharrison.co.uk" target="_blank" rel="noopener noreferrer" style="background-color: #fff;">
    <span class="card-image">
      <img src="https://www.isonharrison.co.uk/wp-content/themes/ison-harrison/assets/img/logo.png" alt="" height="64" />
    </span>
  </a>*@

  @*
  <a class="sponsor-card" href="#">
    <span class="card-image">
      <svg width="64" height="64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 152 152" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill: url(#SVGID_1_);
          }

          .st1 {
            fill: url(#SVGID_2_);
          }

          .st2 {
            fill: url(#SVGID_3_);
          }

          .st3 {
            fill: url(#SVGID_4_);
          }

          .st4 {
            fill: url(#SVGID_5_);
          }

          .st5 {
            fill: url(#SVGID_6_);
          }

          .st6 {
            fill: url(#SVGID_7_);
          }
        </style>

        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="25.34" y1="121.665" x2="150.47" y2="121.665"
          gradientTransform="matrix(1 0 0 -1 0 154)" class="">
          <stop offset="0" style="stop-color:#533FFF" />
          <stop offset="1" style="stop-color:#392BAD" />
        </linearGradient>
        <polygon class="st0" points="63.5,64.1 25.3,25.9 112.3,0.6 150.5,38.8 " />
        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="1557.5146" y1="4983.9819" x2="1557.5146"
          y2="4944.4194" gradientTransform="matrix(0.7071 0.7071 0.7071 -0.7071 -4514.4863 2478.4783)">
          <stop offset="0" style="stop-color:#00E1FF" />
          <stop offset="1" style="stop-color:#009CCA" />
        </linearGradient>
        <polygon class="st1" points="99.6,44.2 56.3,56.8 94.5,95 137.8,82.4 " />
        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="56.28" y1="84.415" x2="137.84" y2="84.415"
          gradientTransform="matrix(1 0 0 -1 0 154)" class="">
          <stop offset="0" style="stop-color:#00E1FF" />
          <stop offset="1" style="stop-color:#009CCA" />
        </linearGradient>
        <polygon class="st2" points="99.6,44.2 56.3,56.8 94.5,95 137.8,82.4 " />
        <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="87.06" y1="69.035" x2="137.84" y2="69.035"
          gradientTransform="matrix(1 0 0 -1 0 154)">
          <stop offset="0" style="stop-color:#00E1FF" />
          <stop offset="1" style="stop-color:#009CCA" />
        </linearGradient>
        <polygon class="st3" points="137.8,82.4 99.6,44.2 87.1,87.6 125.3,125.7 " />
        <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="0" y1="69.34" x2="63.42" y2="69.34">
          <stop offset="0" style="stop-color:#533FFF" />
          <stop offset="1" style="stop-color:#392BAD" />
        </linearGradient>
        <polyline class="st4" points="0,112.8 53.8,97.2 63.4,64.1 25.2,25.9 0,112.8 " />
        <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="38.2335" y1="119.275" x2="125.1535"
          y2="119.275">
          <stop offset="0" style="stop-color:#00E1FF" />
          <stop offset="1" style="stop-color:#009CCA" />
        </linearGradient>
        <polygon class="st5" points="86.9,87.5 53.8,97.2 38.2,151 125.2,125.7 " />
        <linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="0" y1="124.0857" x2="53.8124" y2="124.0857">
          <stop offset="0" style="stop-color:#3CCEFF" />
          <stop offset="1" style="stop-color:#2DABF6" />
        </linearGradient>
        <polygon class="st6" points="0,112.8 38.2,151 53.8,97.2 " />
      </svg>
    </span>
    <span class="card-text">
      <h4 class="card-heading">GLOBAL HOP</h4>
      <span>
        The proven way to earn money<br />
        with your app.
      </span>
    </span>
  </a>
  *@
</div>