@model ImageGlass.Models.NewsModel

@{
  var list = (PaginatedList<NewsModel>?)ViewData[PageInfo.SidebarList];
}

<div class="container">
  <div class="row gx-5">
    <div class="col-12 col-lg-8 my-5">
      <div class="post-date mb-2">
        <time datetime="@Model.UpdatedDate">
          @Model.UpdatedDate.ToDateString()
        </time>
      </div>

      @await Html.PartialAsync("_MarkdownBody", ViewData["NewsHtmlContent"])

      <section class="markdown-body mt-5 pt-md-5">
        @await Html.PartialAsync("_Donation")
      </section>
    </div>

    <div class="col-12 col-lg-4 my-5 pt-4">
      <aside class="sidebar">
        <section class="sidebar-item">
          @await Html.PartialAsync("_Ads")
        </section>


        @* News listing *@
        @await Html.PartialAsync("_SidebarList", list, new ViewDataDictionary(ViewData) {
          { "heading", "The lastest updates" },
          { "aspController", "News" },
          { "aspActionListing", nameof(NewsController.AllNewsListingPage) },
          { "aspActionDetail", nameof(NewsController.NewsDetailPage) },
        })
      </aside>
    </div>
  </div>
</div>