@model ImageGlass.Models.NewsModel


<div class="row gx-5">
    <div class="col-12 col-lg-8 my-5">
        @await Html.PartialAsync("_MarkdownBody", ViewData["NewsHtmlContent"])
    </div>

    <div class="col-12 col-lg-4 my-5">
        <div class="post-sidebar">
            <div class="post-sidebar-item markdown-body">
                <div class="post-date">
                    Published on @Html.DisplayFor(model => model.UpdatedDate)
                </div>
            </div>

            <div class="post-sidebar-item p-0">
                @await Html.PartialAsync("_Ads")
            </div>
        </div>
    </div>
</div>
