[data-page^="docs"] {
  ul.docs-nav {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    overflow-y: auto;
    max-height: calc(100vh - var(--headerBarHeight-em) - 6.25rem - 7rem);

    ul {
      list-style: none;
      margin-left: 1rem;
      padding-left: 0;

      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      animation-duration: 500ms;
    }

    a {
      display: inline-flex;
      padding: 0.15rem 0.5rem 0.25rem 0.5rem;

      color: rgb(var(--colorText) / 0.75);
      font-size: var(--fs-5);
      text-decoration-line: none;

      background-color: var(--bgSurface);
      border-radius: calc(var(--border-radius) * 1.5);
      border: 0.075rem solid transparent;

      &:hover {
        color: rgb(var(--colorText) / 1);
        border-color: var(--colorBorder);
        background-color: rgb(var(--colorInvert) / 0.1);
        transform: translateY(-0.125em);
      }
      &:active {
        transform: translateY(0);
      }
    }

    li {
      button {
        appearance: none;
        border: none;
        background-color: transparent;
        color: inherit;
        cursor: pointer;
        padding: 0.25rem 0;
        transition: all ease 200ms;

        &:hover {
          color: rgb(var(--colorAccent1) / 1) !important;
        }
      }

      &.item--active {
        a {
          color: rgb(var(--colorText) / 1);
          border-color: rgb(var(--colorAccent1) / 0.65);
          background-color: rgb(var(--colorAccent1) / 0.1);
          transform: translate(1rem, 0);
        }
      }
    }
  }
}