
[data-page="home"] {
  .home-featured {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    min-height: 500px;
    max-height: 850px;
    height: calc(100vh - 3.65rem);
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .home-featured-container {
    display: flex;
    height: 100%;
  }

  .home-featured-info {
    display: flex;
    flex-direction: column;
  }

  .home-featured-title {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
  }

  .home-featured-image {
    max-width: 50%;
    max-height: 100%;

    padding: 1px;
    background-color: rgb(var(--colorBg) / 1);
    border-radius: calc(var(--border-radius) * 1.5);
    box-shadow: var(--shadow-base), var(--shadow);
    overflow: hidden;

    opacity: 0;
    animation: aniZoomIn 2000ms ease forwards;
    animation-delay: 500ms;

    img {
      border-radius: calc(var(--border-radius) * 1.5);
      user-select: none;
      -webkit-user-drag: none;
      user-drag: none;
    }
  }

  .home-featured-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
  }


  .svg-bg {
    position: absolute;
    bottom: -700px;
    left: -300px;
    z-index: -1;
    width: 2000px;
    height: 2000px;
    stroke: rgb(var(--colorInvert) / 0.035);
    stroke-width: 0.025rem;
    opacity: 0;

    animation: aniHomeSvgSpinAndScale 3000ms ease 2000ms forwards,
    aniHomeSvgSpin 20000ms ease 6000ms infinite;
  }

  .grid-experience {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;

    li {
      max-width: 16rem;
      padding: 1.5rem 1.5rem 2rem 1.5rem;

      .icon {
        font-size: 5rem;
        line-height: normal;
        margin-bottom: 0.5rem;
        filter: saturate(100%) drop-shadow(0 0 0.15rem #0002) brightness(1);
        transition: all ease 200ms;
      }
      .title {
        font-size: var(--fs-3);
        margin-bottom: 0.5rem;
      }
      .description {
        font-size: var(--fs-5);
        color: rgb(var(--colorText) / 0.65);
      }

      &:hover {
        border-color: rgb(var(--colorInvert) / 0.1);
        box-shadow: var(--shadow-base), var(--shadow);
        transform: translateY(-0.25rem);

        .icon {
          filter: saturate(150%) drop-shadow(0 0 0.15rem #0002) brightness(1.15);
        }
      }
    }
  }


  // open source
  .home-open-source {
    background-color: #1f292b;
    background-image: url('../img/star-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: rgb(255 255 255 / 0.85);
    text-align: center;

    .repo-stats {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      gap: 1rem;

      li {
        border: 0.075rem solid transparent;
        border-radius: calc(var(--border-radius) * 1.5);

        min-width: 9rem;
        padding: 1rem 1rem 1.5rem 1rem;
        font-size: var(--fs-3);
        transition: all ease 200ms;
  
        .number {
          font-size: var(--fs-1);
          line-height: normal;
          margin-bottom: 0.5rem;
        }
  
        &:hover {
          border-color: rgb(255 255 255 / 0.05);
          box-shadow: var(--shadow-base), var(--shadow-sm);
          transform: translateY(-0.25rem);
        }
      }
    }
  }


  // donation
  .home-donation {
    text-align: center;

    .donation-actions {
      justify-content: center;
    }
  }


  @media (max-width: 768px) {
    .home-featured {
      height: auto;
    }

    .home-featured-content {
      flex-direction: column;
    }
    
    .home-featured-info {
      align-items: center;
      text-align: center;
    }

    .home-featured-title {
      display: inline-flex;
      flex-direction: column;
    }

    .home-featured-image {
      max-width: 100%;
    }
  }
}


@keyframes aniHomeSvgSpinAndScale {
  from {
    opacity: 0;
    transform: scale(1.5) rotate(-230deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
@keyframes aniHomeSvgSpin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
