
[data-page="download.release"] {
  .download-options {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    gap: 1rem;

    .option-classic {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;

      padding-left: 0.75rem !important;
      padding-right: 0.75rem !important;
      max-width: 15rem;
      white-space: break-spaces;
      text-align: left;

      .emoji {
        font-size: 2.5rem;
        line-height: 1;
      }
    }
  }

  .classic-download-options {
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      display: flex;
      flex-direction: column;
      gap: 0.5em;
      width: 23rem;
      max-width: calc(95vw - 2rem);
      @media (max-width: 768px) {
        width: 100%;
      }

      li {
        a {
          display: flex;
          justify-content: flex-start;
          gap: 0.25em;
          font-weight: 400;

          .download-count {
            font-size: var(--fs-6);
            opacity: 0.65;
            margin-left: auto;
          }
        }
      }
    }
  }
}
