
[data-page="download.release"] {
  .download-options {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .option-classic {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;

      padding-left: 0.75rem !important;
      padding-right: 0.75rem !important;
      max-width: 15rem;
      white-space: break-spaces;
      text-align: left;

      .emoji {
        font-size: 2.5rem;
        line-height: 1;
      }
    }
  }
}
