
.quang-cao {
  min-height: calc(100px);
}

#carbonads {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 300ms ease;

  * {
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .carbon-wrap,
  .news-item-wrap,
  &> span,
  a {
    display: flex;
    flex-direction: column;
  }

  .carbon-wrap,
  .news-item-wrap {
    align-items: stretch;
    flex-direction: row;
  }

  a {
    color: rgb(var(--colorText));
    font-size: 0.875rem;
    font-weight: 200;
  }

  .carbon-img {
    overflow: hidden;
    flex: 1 0 auto;
    border-radius: var(--border-radius);
    transition: all ease 300ms;
  }

  a.carbon-text {
    padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  }

  .carbon-poweredby {
    bottom: 0.625rem;
    color: rgb(var(--colorText) / 0.6);
    font-size: 0.625rem;
    position: absolute;
    right: 0.625rem;
  }


  &:hover .carbon-img {
    transform: rotate(1.5deg) scale(0.97);
  }
  &:active .carbon-img {
    transform: rotate(-1.5deg) scale(0.97);
    transition: all ease 100ms;
  }
}
