body > footer {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
  color: rgb(var(--colorText) / 0.8);
  background-color: rgb(var(--colorInvert) / 0.075);
  border-top: 1px solid rgb(var(--colorInvert) / 0.1);

  .social-links > a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 0.25em;
    padding: 0.5em;
    border-radius: var(--border-radius);
    transition: all ease 300ms;

    &:first-of-type {
      margin-left: 0;
    }

    &> svg {
      filter: invert(1);
      opacity: 0.6;
      transition: all ease 300ms;

      @media screen and (prefers-color-scheme: light) {
        filter: invert(0);
      }
    }

    &:hover {
      background-color: rgb(var(--colorInvert) / 0.2);
      box-shadow: 0 2px 5px -3px rgb(var(--colorInvert) / 0.25);

      &> svg {
        opacity: 1;
      }
    }
    &:active {
      background-color: rgb(var(--colorInvert) / 0.1);
      transition: all ease 80ms;
    }
  }
}


.post-sidebar {
  position: sticky;
  top: calc(var(--headerBarHeight-em) + 1.5em);

  .post-sidebar-item {
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    background-color: rgb(var(--colorInvert) / 0.05);
    border-radius: calc(var(--border-radius) * 1.5);
    border: 1px solid rgb(var(--colorInvert) / 0.1);
  }
}

.post-description {
  font-style: italic;
}
