.gallery {
  margin-bottom: 0;
  padding-left: 0 !important;
  list-style: none;

  column-gap: 1.25rem;
  column-width: 14rem;

  &> .gallery-item {
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    margin-bottom: 1.25rem;
    cursor: pointer;

    img {
      height: auto !important;
      width: 100% !important;
      border-radius: var(--border-radius);
      box-shadow: var(--shadow-base), var(--shadow-sm);
      transition: all 300ms ease;
    }

    &:hover {
      img {
        filter: brightness(1.15);
        transform: scale(1.08);
        box-shadow: var(--shadow-base), var(--shadow-sm), var(--shadow);
      }
    }

    &:active {
      img {
        filter: brightness(0.98);
        transform: scale(1);
        box-shadow: var(--shadow-base), var(--shadow-sm);
        transition: all 100ms ease;
      }
    }
  }
}
