body > header {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: rgb(var(--colorBg) / 0.8);
  backdrop-filter: blur(1.5rem) saturate(400%);

  box-shadow:
    inset 0 -1px 0 0 rgb(var(--colorInvert) / 0.1), // bottom border
    var(--shadow-sm); // shadow

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  .navbar {
    display: flex;
    align-items: center;

    .navbar-brand {
      display: inline-flex;
      align-items: center;
      height: 2em;
      padding-left: 2em;
      background-image: url('../img/iglogo.svg');
      background-size: 1.5em;
      background-repeat: no-repeat;
      background-position: left center;
    }

    .navbar-nav {
      margin-left: auto;
      display: flex;
      padding: 0.25em 0;

      .nav-item {
        display: block;
        padding: 0.35em 0.25em;

        &> * {
          display: block;
          padding: 0.45em 1em;
          color: rgb(var(--colorText));
          white-space: nowrap;
          text-decoration: none;
          border-radius: var(--border-radius);
          transition: all ease 300ms;

          &:hover {
            box-shadow: inset 0 0 0 1px rgb(var(--colorInvert) / 0.025);
          }
        }

        // item selected
        &.nav-item--active {
          &> *:first-child {
            position: relative;
            background-color: rgb(var(--colorInvert) / 0.15);

            &::after {
              // content: "";
              display: block;
              position: absolute;
              z-index: 1;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              width: 0.75em;
              height: 0.2em;
              background-color: rgb(var(--colorAccent1));
              border-radius: var(--border-radius);
            }
          }
        }

        &.nav-submenu {
          position: relative;

          &> *:first-child {
            padding-right: 1.6em;
          }

          &::after {
            content: "";
            display: block;
            width: 0.45em;
            height: 0.45em;
            pointer-events: none;

            position: absolute;
            bottom: 0;
            right: 1em;
            top: -0.1em;
            margin: auto;

            border-bottom: 1px solid;
            border-right: 1px solid;
            transform: rotate(45deg) translate(0, 0);
            transition: all ease 300ms;
          }
        }

        &> ul {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          margin-top: 0.25em;
          padding: 0.25em;
          transition: all ease 300ms;
          transform: translateY(-1em) scale(0.9);

          .nav-item {
            padding-top: 0.1em;
            padding-bottom: 0.1em;
            font-size: 95%;

            &.nav-item--active > * {
              &::after {
                left: 0;
                right: auto;
                top: 0;
                bottom: 0;
                width: 0.2em;
                height: 0.85em;
              }
            }
          }
        }

        // item hovered
        &:hover {
          &> * {
            text-decoration: none;
            background-color: rgb(var(--colorInvert) / 0.1);
          }

          &> ul {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            background-color: rgb(var(--colorBg) / 0.95);
            box-shadow:
              inset 0 0 0 1px rgb(var(--colorInvert) / 0.1), // border
              inset 0 0 0 100vh rgb(var(--colorInvert) / 0.025), // background blend
              var(--shadow); // shadow
            transform: translateY(0) scale(1);
          }

          &.nav-submenu::after {
            transform: rotate(45deg) translate(0.125em, 0.125em);
          }
        }

        // item pressed
        &:active {
          &> * {
            background-color: rgb(var(--colorInvert) / 0.15);
            transition: all ease 80ms;
          }
        }
      }
    }
  }
}
