
.download-options {
  display: grid;
  grid-template-columns: repeat(auto-fill, 15rem);
  gap: 1rem;

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}


.btn-download-option {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;

  max-width: 15rem;
  min-height: 4rem;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  white-space: break-spaces;
  text-align: left;
  font-size: initial;

  img {
    border-radius: 2px;
    filter: drop-shadow(0 0 0.15rem #0004);
  }
  .emoji {
    font-size: 2.75rem;
    line-height: 1;
    text-indent: -0.175em;
    width: 1em;
    margin-top: -0.1em;
  }

  // classic download
  &.option-classic {
    img {
      filter: none;
    }
  }
}
