
.post-date {
  font-size: var(--fs-5);
  color: rgb(var(--colorText) / 0.65);
}

.post-badge {
  padding: 0.25rem 0.5rem;

  color: rgb(var(--colorText) / 1);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: normal;

  border-radius: 100rem;
  background-color: var(--bgSurface);
}


// featured post
.post-featured {
  padding: 3rem 0;
  background-color: var(--bgSurface);

  .post-featured-content {
    max-width: 65rem; // 1040px
    margin-left: auto;
    margin-right: auto;
  }

  .post-body {
    align-items: center;
    justify-content: center;
    min-height: 25rem; // 400px

    @media (max-width: 768px) {
      min-height: 16rem;
    }
  }

  .post-title {
    margin-top: 0;
  }

  .post-date {
    margin-bottom: 0.5rem;
  }

  .post-featured-image {
    display: flex;
    align-items: center;
    justify-content: center;    
  }

  .post-image-link {
    display: inline-flex;
    padding: 1px;
    background-color: rgb(var(--colorBg) / 1);
    border-radius: calc(var(--border-radius) * 1.5);
    box-shadow: var(--shadow-base), var(--shadow);
    overflow: hidden;

    animation: aniZoomIn 1300ms ease forwards;

    img {
      width: 100%;
      max-width: 35rem; // 560px
      max-height: 25rem; // 400px
    }
  }
}


// posts list
.post-list {
  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1.5rem;

    &> li {
      display: flex;
      flex-direction: column;

      &+ li {
        margin-top: 0;
      }
    }
  }

  .post-item {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: rgb(var(--colorBg) / 1);
    border: 0.075rem solid rgb(var(--colorInvert) / 0.1);
    border-radius: calc(var(--border-radius) * 1.5);
    box-shadow: var(--shadow-base), var(--shadow-sm);

    overflow: hidden;
    text-decoration: none;
    word-break: break-word;
    transition: all ease 300ms;

    .post-image {
      position: relative;
      display: flex;
      height: 11.25rem; // 180px
      background-color: var(--bgSurface);

      img {
        width: 100%;
        border-radius: 0;
        object-fit: cover;
        transition: all ease 300ms;
      }

      .post-badge {
        position: absolute;
        top: 1rem;
        right: 0;
        z-index: 1;

        color: #fff;
        border-radius: 100rem 0 0 100rem;
        background-color: rgb(var(--colorAccent1) / 0.8);
        backdrop-filter: var(--backdrop);

        &.badge-2 {
          background-color: rgb(var(--BgWarning) / 0.8);
        }
      }
    }

    .post-body {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    .post-title {
      font-size: var(--fs-3);
      font-weight: 500;
      margin-bottom: 1rem;
      color: rgb(var(--colorAccent1) / 1);
    }

    .post-description {
      margin-bottom: 1rem;
      color: rgb(var(--colorText) / 1);
    }

    .post-date {
      margin-top: auto;
    }

    &:hover {
      filter: none;
      text-decoration: none;
      border-color: rgb(var(--colorAccent1) / 1);
      box-shadow: var(--shadow-base), var(--shadow);
      transform: translateY(-0.25rem);

      .post-image img {
        filter: brightness(1.2);
        transform: scale(0.925);
        border-radius: calc(var(--border-radius) * 1);
        box-shadow: var(--shadow-base), var(--shadow), var(--shadow-sm);
      }
    }

    &:active {
      filter: none;
      box-shadow: var(--shadow-base), var(--shadow-sm);
      transform: translateY(0);
      transition: all ease 100ms;

      .post-image img {
        transition: all ease 100ms;
        filter: brightness(0.75);
      }
    }

    @media (prefers-color-scheme: dark) {
      background-color: var(--bgSurface);
    }
  }

  .post-list-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    &> a {
      padding: 0.5rem 1rem;
    }
  }
}
