
.sponsor-card {
  display: inline-flex;
  justify-content: space-evenly;
  gap: 0.75rem;
  padding: 0.75rem;

  max-width: 300px;
  color: inherit;
  text-align: left;
  text-decoration: none;
  line-height: normal;

  background-color: var(--bgSurface);
  border-radius: calc(var(--border-radius) * 1.5);
  border: 0.075rem solid var(--colorBorder);
  box-shadow: var(--shadow-sm);
  overflow: hidden;
  transition: all ease 300ms;

  .card-image {
    flex: 1 0 64px;
    height: 64px;
    perspective-origin: center;
    perspective: 200px;

    img, svg {
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius);
      transition: all ease 300ms;
    }
  }

  .card-text {
    font-size: var(--fs-6);
    transition: all ease 300ms;
  }
  .card-heading {
    color: rgb(var(--colorAccent1) / 1);
    font-size: var(--fs-4);
    margin-bottom: 0.25rem;
  }

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: none;
    border-color: rgb(var(--colorAccent1) / 1);
    transform: translateY(-0.125rem);

    img, svg {
      transform: scale(1.025);
    }
  }
  &:active {
    filter: none;
    border-color: rgb(var(--colorAccent1) / 1);
    transform: translateY(0.0075rem);
    transition: all ease 100ms;

    img, svg {
      transform: scale(0.975) rotateX(15deg);
      transition: all ease 100ms;
    }
  }


  &.card-style--0 {
    padding: 0;
    max-width: 400px;

    .card-image {
      flex-basis: 130px;
      height: 100px;
    }

    .card-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 0.875rem;
      padding-right: 0.5rem;
    }

    &:hover {
      transform: none;
    }
  }
}



.sponsor-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.section-sponsor-description {
  margin-bottom: 1.5rem;
}
