
@* Featured content *@
<div class="container-fluid bg-surface py-5">
  <div class="container">
    <div class="container-limit aniFadeIn">
      <h2 class="fs-1 mt-0">Support</h2>
      <div>
        Looking for Answers or Support?<br/>
        You're in the right place! Find all the ImageGlass customer and technical support you need right here.
      </div>
    </div>
  </div>
</div>


@* Support options *@
<div class="container py-5 mx-auto">
  <div class="container-limit">
    <div class="row gx-5 gx-md-4 gx-lg-5 justify-content-center support-options">
      @* Premium support *@
      <div class="col-12 col-lg-6 mb-4 mb-md-0 aniSlideUp ani-delay-25">
        <div class="box box-warning p-3 p-md-4">
          <h2 id="premium-support" class="mt-0 text-warning">Premium Support 🌟</h2>
          <div class="mb-4">
            Receive exclusive support directly from the creator of ImageGlass.
          </div>

          <div>
            <h4 class="text-warning">Get help with your issues</h4>
            <p class="fs-5 opacity-65 mb-4">
              Receive prioritized assistance for your issues via email, Discord chat, or a dedicated 1-hour video consultation.
            </p>

            <h4 class="text-warning">Custom installer creation for your organization</h4>
            <p class="fs-5 opacity-65 mb-4">
              Customize ImageGlass to your organization's needs, allowing you to seamlessly adjust features, incorporate branding, and fine-tune settings for the best experience.
            </p>

            <h4 class="text-warning">Implement custom features as per your requests</h4>
            <p class="fs-5 opacity-65 mb-4">
              Personalize ImageGlass to your specific needs by requesting custom features that align with your workflow.
            </p>
          </div>

          <div class="mt-4">
            <a class="btn btn-accent bg-warning"
              href="mailto:phap@imageglass.org?subject=ImageGlass%20Premium%20support&body=Hi%20Phap%2C%0D%0A%0D%0A%0D%0A">
              Contact us
            </a>
          </div>
        </div>
      </div>


      @* Community support *@
      <div class="col-12 col-lg-auto community-support mt-4 aniSlideUp ani-delay-50">
        <h2 id="community-support" class="mt-0">Community Support</h2>
        <div class="mb-4">
          Join the ImageGlass community for assistance and support.
        </div>

        @* Ads *@
        <div class="mb-3">
          <div class="sidebar-item section-quang-cao">
            @await Html.PartialAsync("_Ads")
          </div>
        </div>

        <div class="section-community-support">
          <a class="btn" href="https://github.com/d2phap/ImageGlass/issues" target="_blank" rel="noopener noreferrer">
            <span class="text-info">GitHub Issues</span>
            <span class="support-description">
              Stay updated on the development progress, share feedback, and report bugs using your GitHub account
            </span>
          </a>
          <a class="btn" href="https://groups.google.com/forum/#!forum/imageglass" target="_blank" rel="noopener noreferrer">
            <span class="text-accent2">Google Forum</span>
            <span class="support-description">
              Use your Google account to ask questions and stay informed about the latest ImageGlass updates
            </span>
          </a>
          <a class="btn" href="https://discord.com/channels/818852544859209748/818852544859209751" target="_blank" rel="noopener noreferrer">
            <span>ImageGlass Discord</span>
            <span class="support-description">
              Connect with community to engage in discussions about ImageGlass and receive valuable support
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
