
.ani-delay-25 {
  opacity: 0;
  animation-delay: 250ms !important;
}
.ani-delay-50 {
  opacity: 0;
  animation-delay: 500ms !important;
}
.ani-delay-75 {
  opacity: 0;
  animation-delay: 750ms !important;
}
.ani-delay-100 {
  opacity: 0;
  animation-delay: 1000ms !important;
}
.ani-delay-125 {
  opacity: 0;
  animation-delay: 1250ms !important;
}
.ani-delay-150 {
  opacity: 0;
  animation-delay: 1500ms !important;
}
.ani-delay-1750 {
  opacity: 0;
  animation-delay: 1750ms !important;
}
.ani-delay-200 {
  opacity: 0;
  animation-delay: 2000ms !important;
}


.aniHeightDown {
  animation: aniHeightDown 1000ms ease forwards;
}
@keyframes aniHeightDown {
  from {
    max-height: 0;
    opacity: 0;
    transform: translateY(-5vh);
  }
  to {
    max-height: 100vh;
    opacity: 1;
    transition: max-height ease 400ms,
      opacity ease 600ms,
      transform ease 400ms;
  }
}


.aniHeightUp {
  animation: aniHeightUp 1000ms ease forwards;
}
@keyframes aniHeightUp {
  from {
    max-height: 100vh;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
    transform: translateY(-5vh);
    transition: max-height ease 400ms,
      opacity ease 600ms,
      transform ease 400ms;
  }
}


.aniZoomIn {
  animation: aniZoomIn 1000ms ease forwards;
}
@keyframes aniZoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.aniZoomOut {
  animation: aniZoomOut 1000ms ease forwards;
}
@keyframes aniZoomOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}


.aniFadeIn {
  animation: aniFadeIn 1500ms ease forwards;
}
@keyframes aniFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.aniFadeOut {
  animation: aniFadeOut 1500ms ease forwards;
}
@keyframes aniFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.aniSlideUp {
  animation: aniSlideUp 1000ms ease forwards;
}
@keyframes aniSlideUp {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.aniSlideDown {
  animation: aniSlideDown 1000ms ease forwards;
}
@keyframes aniSlideDown {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

