
.bg {
  background-color: rgb(var(--colorBg) / 1) !important;
}
.bg-text {
  background-color: rgb(var(--colorText) / 1) !important;
}
.bg-accent1 {
  background-color: rgb(var(--colorAccent1) / 1) !important;
}
.bg-accent2 {
  background-color: rgb(var(--colorAccent2) / 1) !important;
}
.bg-surface {
  background-color: var(--bgSurface) !important;
}
.bg-info {
  background-color: rgb(var(--bgInfo) / 1) !important;
}
.bg-success {
  background-color: rgb(var(--bgSuccess) / 1) !important;
}
.bg-warning {
  background-color: rgb(var(--bgWarning) / 1) !important;
}
.bg-danger {
  background-color: rgb(var(--bgDanger) / 1) !important;
}


.text {
  color: rgb(var(--colorText) / 1) !important;
}
.text-white {
  color: #fff !important;
}
.text-bg {
  color: rgb(var(--colorBg) / 1) !important;
}
.text-accent1 {
  color: rgb(var(--colorAccent1) / 1) !important;
}
.text-accent2 {
  color: rgb(var(--colorAccent2) / 1) !important;
}
.text-surface {
  color: var(--bgSurface) !important;
}
.text-info {
  color: rgb(var(--bgInfo) / 1) !important;
}
.text-success {
  color: rgb(var(--bgSuccess) / 1) !important;
}
.text-warning {
  color: rgb(var(--bgWarning) / 1) !important;
}
.text-danger {
  color: rgb(var(--bgDanger) / 1) !important;
}


.opacity-0 {
  opacity: 0 !important;
}
.opacity-25 {
  opacity: 0.25 !important;
}
.opacity-50 {
  opacity: 0.5 !important;
}
.opacity-65 {
  opacity: 0.65 !important;
}
.opacity-75 {
  opacity: 0.75 !important;
}
.opacity-100 {
  opacity: 1 !important;
}