@{
  var list = (PaginatedList<NewsModel>?)ViewData[PageInfo.SidebarList];
}


@* Featured content *@
<div class="container-fluid bg-surface py-5">
  <div class="container aniFadeIn">
    <h2 class="fs-1 mt-0">ImageGlass Tools</h2>
    <div>
      A collection of external tools that can be downloaded and installed to enhance your experience with ImageGlass
      9.
      <br />
      If you want to integrate your software with ImageGlass, you can check out at
      <a asp-controller="Docs" asp-action="DocsPage" asp-route-slug="imageglass-tools">Docs / ImageGlass Tools</a>.
    </div>
  </div>
</div>


@* Tool listing *@
<div class="container">
  <div class="row gx-5">
    <div class="col-12 col-lg-8 my-5 aniSlideUp ani-delay-25">
      <h2 class="mb-4">Available tools</h2>

      <ul class="tool-list mb-5">
        @* ExigGlass tool *@
        <li class="post-item">
          <button class="tool-content" toggle-el="#exifglass-detail">
            <div class="tool-image">
              <img src="https://raw.githubusercontent.com/d2phap/ExifGlass/main/Assets/exifglass_logo_256.svg" width="64" height="64" alt="ExifGlass logo" />
            </div>
            <h3 class="tool-title mb-2">
              ExifGlass
              <small class="fw-400 fs-5 opacity-65 ms-2">— by Duong Dieu Phap</small>
            </h3>
            <div class="tool-description">
              An open-source EXIF metadata viewing tool, designed to work seamlessly with ImageGlass 9, but can also be used as a standalone software on your computer.
            </div>
          </button>

          <div id="exifglass-detail" hidden>
            <div class="box tool-description m-2">
              <p>
                With ExifGlass, you can easily access a comprehensive overview of the technical details associated with your images, including camera settings, location data, and more.
              </p>
              <p>
                This tool is particularly useful for professional photographers or anyone interested in the technical aspects of digital photography. Whether you use ExifGlass as a standalone software or in conjunction with ImageGlass, it provides a convenient and efficient way to view and manage the metadata associated with your images.
              </p>
              <p>
                To use ExifGlass, you need to have <a href="https://exiftool.org" target="_blank" rel="noopener noreferrer">ExifTool by Phil Harvey</a> installed on your system. You can download ExifGlass for free or purchase it from the Microsoft Store to support the author.
              </p>
              <p class="download-options mb-0">
                <ms-store-badge tabindex="0" class="btn btn-accent-2" productid="9MX8S9HZ57W8" cid="ig_website_tools" window-mode="full" theme="auto" title="Get ExifGlass from Microsoft Store">
                </ms-store-badge>

                <a class="btn option-classic" href="https://github.com/d2phap/ExifGlass/releases" target="_blank" rel="noopener noreferrer" title="Get ExifGlass Classic">
                  <span class="emoji">📦</span>
                  <span>Get<br/>ExifGlass Classic</span>
                </a>
              </p>
            </div>
          </div>
        </li>
      </ul>


      <section>
        <h3>How to add an external tool to ImageGlass</h3>
        <div>
          Refer to
          <a asp-controller="Docs" asp-action="DocsPage" asp-route-slug="imageglass-tools" asp-fragment="add-your-tool-to-imageglass">
            Docs / ImageGlass Tools / Add your tool to ImageGlass
          </a>.
        </div>
      </section>

      <section class="mt-5 pt-md-5">
        @await Html.PartialAsync("_Sponsors")
      </section>

      <section class="mt-5">
        @await Html.PartialAsync("_Donation")
      </section>
    </div>


    <div class="col-12 col-lg-4 mb-5 mt-0 mt-lg-5 pt-4 aniSlideUp ani-delay-50">
      <aside class="sidebar">
        <section class="sidebar-item">
          @await Html.PartialAsync("_Ads")
        </section>


        @* News listing *@
        @await Html.PartialAsync("_SidebarList", list, new ViewDataDictionary(ViewData) {
          { "heading", "The lastest updates" },
          { "aspController", "News" },
          { "aspActionListing", nameof(NewsController.AllNewsListingPage) },
          { "aspActionDetail", nameof(NewsController.NewsDetailPage) },
        })
      </aside>
    </div>
  </div>
</div>
